/* work sans google font link */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/* Default Styles Here */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Work Sans", sans-serif;
}

html {
    font-size: 62.5%;
}

/* common styles */
.btn-primary {
    border-radius: 0.8rem;
    background: #FF900E;
    padding: 2rem 2.5rem;
    border: 0;
    color: #FFF;
    font-size: 2rem;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s all;
}

.btn-primary:hover {
    background-color: #f87903;
}

section {
    margin: 13rem 0;
}

.text-gray {
    color: #727272;
}

.text-orange {
    color: #FF900E;
}

.section-title {
    color: #131313;
    font-size: 4.5rem;
    font-weight: 700;
    margin-bottom: 1.8rem;
}

.section-description {
    color: #727272;
    font-size: 1.6rem;
    line-height: 26.rem;
    margin-bottom: 3.2rem;
}

.section-heading {
    width: 54rem;
}

/* header styles here */
header {
    background: rgba(255, 144, 14, 0.10);
    padding: 5rem 15rem;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav>ul {
    display: flex;
    align-items: center;
    gap: 3rem;
}

nav li {
    list-style: none;
    font-weight: 500;
    font-size: 1.8rem;
}

nav li a {
    text-decoration: none;
    color: #424242;
}

/* banner related styles here */
.banner-content {
    width: 80rem;
    margin: 0 auto;
    text-align: center;
    padding: 10rem 0 5rem 0;
}

.banner-title {
    color: #131313;
    font-size: 6.4rem;
    font-weight: 700;
    margin-bottom: 2.4rem;
}


.banner img {
    width: 100%;
}

/* main part styles */
main,
.container {
    max-width: 81%;
    margin: 0 auto;
}

/* teams section styles here */
.teams-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.teams-img-container,
.teams-content {
    width: 48%;
}

.teams-img-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.8rem;

    & img {
        width: 100%;
    }
}

.teams-content .text-gray {
    font-weight: 500;
    margin-bottom: 2.4rem;
}

/* Features section styles here */
.features {
    display: flex;
    justify-content: space-between;
}

.feature-content,
.feature-image {
    width: 47%;
}

.feature-image img {
    width: 100%;
    height: 90%;
    object-fit: cover;
    border-radius: 8px;
}

.feature-content .section-title {
    border-left: 0.5rem solid #FF900E;
    padding-left: 2rem;
}

.feature-content>.section-description {
    margin-bottom: 2rem;
}

.feature-content .card {
    border-radius: 0.8rem;
    background: #FFF;
    box-shadow: 0rem 0.4rem 3rem 0rem rgba(0, 0, 0, 0.06);
    padding: 3rem;
    margin-bottom: 2rem;
}

.feature-content .card .card-title {
    color: #131313;
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 1rem;
}

.feature-content .card .text-gray {
    font-size: 1.6rem;
}

.ten-years-badge {
    border-radius: 0.8rem;
    background: #FF900E;
    width: 25rem;
    padding: 2rem 1.5rem;
    color: #fff;
    text-align: center;
    position: relative;
    bottom: 6rem;
    left: -3rem;
}

.ten-years-badge h3 {
    font-size: 4rem;
    font-weight: 700;
}

.ten-years-badge p {
    font-size: 25px;
    font-weight: 500;
    line-height: 40px;
}

/* Some Facts Section style */
.facts-card-container {
    display: flex;
    justify-content: space-around;
    gap: 1rem;
}

.facts-card {
    border-radius: 0.8rem;
    border: 0.1rem solid #FF900E;
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    padding: 2.4rem;
}

.facts-card img {
    width: 4.5rem;
    height: 4.5rem;
}

.facts-card .card-states {
    color: #424242;
    font-size: 4.5rem;
    font-weight: 600;
}

.facts-card .card-title {
    font-size: 2rem;
    font-weight: 600;
}

/* Our Sponsors section styles here */
.sponsors .section-heading {
    margin: 0 auto;
    text-align: center;
}

.sponsor-img-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 4rem;
    margin-top: 5rem;
}

/* footer section styles here */
footer {
    max-width: 1920px;
    margin: 0 auto;
    border-radius: 0.8rem;
    background: #FFF4E7;
    padding: 40px;
    text-align: center;
}

footer p {
    color: #424242;
    font-size: 20px;
}

/* Responsive Media Queries */
/* Mobile Device */
@media screen and (max-width: 576px) {
    header {
        padding: 2rem;
    }

    section {
        margin: 5rem 0;
    }

    nav,
    .teams-container,
    .features,
    .facts-card-container,
    .sponsor-img-container {
        flex-direction: column;
        gap: 2rem;
    }

    .banner-content {
        width: 100%;
    }

    main {
        width: 98%;
        margin: 0 auto;
    }

    .teams-img-container,
    .teams-content {
        width: 100%;
    }

    .teams-img-container {
        grid-template-columns: 1fr;
    }

    .teams-content {
        & .teams-title {
            margin-bottom: 1rem;
        }

        & .teams-description {
            margin-bottom: 2.8rem;
        }
    }

    .feature-content,
    .feature-image {
        width: 100%;
    }

    .section-heading {
        width: 100%;
    }

    .facts-card {
        width: 100%;
    }

    .sponsor-img-container img {
        margin-bottom: 2rem;
    }

    .break {
        display: none;
    }
}

/* Tablet or medium devices */
@media screen and (min-width: 577px) and (max-width: 992px) {
    section {
        margin: 8rem 0;
    }

    .header {
        padding: 3rem;
    }

    nav,
    .teams-container,
    .features,
    .sponsor-img-container {
        flex-direction: column;
        gap: 2rem;
    }

    .banner-content {
        width: 100%;
    }

    main {
        width: 98%;
        margin: 0 auto;
    }

    .teams-img-container,
    .teams-content {
        width: 100%;
    }

    .feature-content,
    .feature-image {
        width: 100%;
    }

    .facts-card-container {
        flex-wrap: wrap;
        gap: 1.8rem;
    }

    .facts-card {
        width: 45%;
        margin-bottom: 1.5rem;
    }

    .sponsor-img-container img {
        margin-bottom: 2rem;
    }
}